node_modules
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
.env
.env.*
!.env.example
.windsurf
.claude
.agents
uploads
test
*.md
.prettierrc
oxlint.json
tsconfig.build.tsbuildinfo
